body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(./image/br.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
button, input{
    width: 250px;
    margin: 10px;
    padding: 15px;
    background-color: black;
    color: white;
    letter-spacing: 2px;
}
span{
    font-style: italic;
    font-size: 14px;
    text-shadow: -2px 3px 5px white;
}
#list{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.people{
    width: 150px;
    margin: 15px;
    padding: 10px;
    border: rgb(236, 222, 222) 5px double;
    text-align: center;
}
.movie{
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(31, 28, 28, 0.5);
    text-align: center;
}
